@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap')
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
}
.noto{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.poppins{
  font-family: 'Poppins', sans-serif;

}
.slick-slide > div {
  margin: 0 10px;
}

::-webkit-scrollbar{

  width: 12px;
}

::-webkit-scrollbar-track{
  background: #fff;
}

::-webkit-scrollbar-thumb{
  background: #ababab;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover{
  background: #dd8036;
  border-radius: 4px;
}